/*  
Estilos generales
Mobile First
*/


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 243, 233);
}

.bg-img{
    background-image: url(../img/office\ notebook.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    
}

.logo{
    height: 50px;
}


.card-img-top{
   height: 150px;
}

.carrousel{
    height: 100%;
    width: 80%;
}

.img-carrousel{
    height: 400px;
    
}

.corouselSection{
    margin-right: 18%;
    margin-left: 18%;
}


.servicios{
    background-color: rgb(201, 188, 165);
    height: 380px;
    width: 300px;
    border-radius: 5px;
    
}

.card-img{
    width: 100%;
}


.div-height{
    height: 100px;
}

.ubicacion{
    text-align: left;
    margin-right: 125px;
}

.bg-white{
    background-color: #fff;
}

.mediaIcon:hover{
    transform: scale(125%);
    transition: all 1s;
    }

  #mediaIcon:hover{
        transform: scale(125%);
        transition: all 1s;
        }

        .footerInfo{
            background-color: black;
            color: #fff;
            font-family:'quicksand', sans-serif;
            font-size:small;
            
        }

    .visibility{
          visibility: hidden;
          display: none;
        }

    
/*  
Seccion Nosotros
*/


#imgNosotros{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 2%;
}

.imgIcons{
height: 50px;
width: 50px;
}

.iconDiv{
    margin-left: 5%;
}


.figcaption{
    margin-left: 8%;
}


#containerNosotros{
align-self: center;
     } 

#imgTablet{
    width: 100%;
}

.h1Nosotros{
    text-align: center;
}

.h3Titulo{
    background-color: rgb(117, 106, 106);
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}


/*  
Seccion Contabilidad
*/

.servicios{
    background-color: rgb(201, 188, 165);
    height: 380px;
    width: 300px;
    border-radius: 5px;
    color:#fff;
    text-align: center;
    margin: 5px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;

}

.servicios p{
    margin-block-start: 16px;
    margin-block-end: 1em ;
}

#servicios{
    display: flex;
    flex-direction: column ;
    justify-content:center;
    margin-top: 160px;
    margin-bottom: 70px;
    align-items: center;

}    



@media (min-width:768px){
    
    /*  
 Estilos generales
*/
    
    
    
    .carrousel{
        height: 100%;
        width: 30%;
    }
  
    .visibility{
        visibility:visible;
        display: unset;
      }

      .footerInfo{
        
        font-size:small;
        
    }

   /*  
 Seccion Nosotros
*/  
    #imgNosotros{
        display: flex;
        flex-direction: row;
    }

    #imgTablet{
        width: 50%;
    }


    /*  
 Seccion Contabilidad
*/
    
    
    #servicios{
        display: flex;
        flex-direction: row ;
        justify-content:center;
        margin-top: 160px;
        margin-bottom: 70px;
    
    }    
    
    .servicios:hover{
        transform: scale(110%);
        transition: all 1s;
    }

    .servicios:hover{
        tra
    }
     
     
    
    
    .servicios{
        margin: 3px;
    }
    
    .separador{
        margin-top: -13px;
        }
        
        .primerP{
            margin-top: 19px;
        }
        
        .paddingP{
            padding-left: 15px;
            padding-right: 15px;
        }

     

     


}
